.about {
  /* height: 75vh; */
  padding-bottom: 48px;
}
.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.picture {
  height: 520px;
  -webkit-animation: slide-top 6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s
    infinite alternate-reverse both;
  animation: slide-top 6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s infinite
    alternate-reverse both;
}
.about-info {
  font-size: 24px;
}
.info-name {
  font-size: 32px;
  color: blue;
}
@media only screen and (max-width: 720px) {
  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picture {
    height: 280px;
    -webkit-animation: slide-top 6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s
      infinite alternate-reverse both;
    animation: slide-top 6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s infinite
      alternate-reverse both;
  }
  .about-info {
    font-size: 20px;
  }
  .info-name {
    font-size: 26px;
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
